<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account View</title>
</head>
<body>

<h1>Account Not Found</h1>

<h3 th:text="${message}"></h3>
</body>
</html>