<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account View</title>
</head>
<body>

<h1>Account: <span th:text="${account.name}">Savings</span></h1>
<h2>Balance: $<span th:text="${account.balance}">100</span></h2>
<br/>
(ID=<span th:text="${account.id}">1</span>)

</body>
</html>